<div class="row">
    <h4 class="text-primary p-lg-4 pt-2 col-12"> Grand Child Component</h4>
    <p>There is a Message @MessageForGrandChild</p>
</div>

@code {
    [CascadingParameter]
    public string MessageForGrandChild{ get; set; }
    
}
